#!/bin/bash
sudo yum update -y && yum upgrade -y
sudo yum install -y epel-release
sudo yum install -y git ansible pythoon-pip mlocate
sudo updatedb
sudo pip install --upgrade pip
sudo pip install awscli
sudo pip install --upgrade awscli
sudo yum remove -y ansible
sudo git clone git://github.com/ansible/ansible.git --recursive
sudo make
sudo make install
sudo mkdir /etc/ansible
sudo cp ~/ansible/examples/* /etc/ansible/
sudo cp hosts hosts.original

sudo cp ansible.cfg ansible.cfg.original